.card_section {
  height: 50vh;
  width: 100%;
  cursor: pointer;
  border: 2px solid transparent;
  overflow: hidden;
  transition: all 200ms ease-in-out;

  &:hover {
    border: 4px solid $bg-red-color;
    > img {
      transform: scale(1.1);
    }
  }

  > img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    overflow: hidden;
    transition: all 200ms ease-in-out;
  }
}

//tablet ------------------
@media only screen and (min-width: 801px) and (max-width: 1024px) {
  .card_section {
    height: 30vh;
  }
}

//mobile ------------------
@media (max-width: 800px) {
  .card_section {
    height: 35vh;
  }
}
