.information_section {
  height: 100%;
  width: 100%;
  padding: 2vmax 0;

  > .wrapper {
    height: 100%;
    width: 100%;
    @include grid(1fr 2fr, 1fr, 1vmax);

    > .left {
      height: 100%;
      width: 100%;
      @include flex(row, center, center);
    }

    > .right {
      height: 100%;
      width: 100%;

      > table {
        > tbody {
          > tr {
            > td {
              font-size: 1rem;
              padding: 1vmax 0;
            }

            > .label {
              color: $text-lighter-gray-color;
              font-weight: 400;
            }

            > .value {
              color: $text-white-color;
              font-weight: 500;
              padding: 0 0.5vmax;
            }
          }
        }
      }
    }
  }
}

//tablet ------------------
@media only screen and (min-width: 801px) and (max-width: 1024px) {
}

//mobile ------------------
@media (max-width: 800px) {
  .information_section {
    > .wrapper {
      height: 100%;
      width: 100%;
      @include grid(1fr, 1fr, 4vmax);
      padding: 0 2vmax;
    }
  }
}
