.mob_navbar_section {
  width: 100%;
  height: 8vh;
  display: none;
  @include flex(row, space-between, center);
  color: $text-white-color;
  padding: 0 1vmax;

  > img {
    height: 100%;
    object-fit: contain;
  }

  > svg {
    font-size: 2rem;
  }
}

//desktop ------------------
@media (min-width: 1024px) {
  .mob_navbar_section {
    display: none;
  }
}

//tablet ------------------
@media only screen and (min-width: 801px) and (max-width: 1024px) {
  .mob_navbar_section {
    display: none;
  }
}

//mobile ------------------
@media (max-width: 800px) {
  .mob_navbar_section {
    display: flex;
  }
}
