//text
$text-red-color: rgb(229, 9, 20);
$text-white-color: rgb(255, 255, 255);
$text-lighter-gray-color: rgb(212, 208, 208);
$text-gray-color: rgb(45, 45, 45);
$text-black-color: rgb(0, 0, 0);

//background
$bg-red-color: rgb(229, 9, 20);
$bg-white-color: rgb(255, 255, 255);
$bg-lighter-gray-color: rgb(233, 233, 233);
$bg-gray-color: rgb(59, 59, 59);
$bg-light-black-color: rgb(15, 15, 15);
$bg-black-color: rgb(0, 0, 0);
